PORT=3030

# Claude API
ANTHROPIC_API_KEY=

# Laravel API
API_URL=http://host.docker.internal:8010

# Chatwoot
CHATWOOT_BASE_URL=
CHATWOOT_BOT_TOKEN=
CHATWOOT_ACCOUNT_ID=

# WhatsApp
WHATSAPP_NUMBER=5219581131114
